

.mimarca{
    text-decoration-color: rgb(185, 5, 5);
    font-size: large;
}

.contenedor{
    width: 90%;
    margin: 0, auto;
    display: flex;
    justify-content: space-around;
}


#contenedor img{
    width: 100%;
}

.footer{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.estilopresentacion{
    width: 100%;
    background-color: black;
    text-decoration: white;
    color: white;
}
.historia
{
    color: rgb(17, 14, 14);
    background-color: rgb(204, 239, 250);
}
